.container
  display: flex
  flex-direction: column
  gap: 16px
  background-color: #ffffff
  padding: 20px


.imagesContainer
  display: flex
  gap: 16px
  img.image
    width: 100%
    max-width: 100%
    height: auto
    border-radius: 8px

.detailsContainer
  display: flex
  flex-direction: column
  gap: 8px

.indica
  display: flex
  align-items: center
  background-color: #00A6EB
  color: white
  padding: 4px 8px
  border-radius: 5px
  font-weight: 600
  font-size: 14px
  gap: 8px
  width: fit-content

.productName
  font-size: 25px
  font-weight: 500

.ratingContainer
  display: flex
  align-items: center
  gap: 10px
  .starsContainer
    display: flex

.vendido
  font-size: 15px
  strong
    font-weight: 700

.descontoContainer
  display: flex
  align-items: center
  gap: 20px

.semDesconto
  font-size: 17px
  color: #db2c2c
  text-decoration: line-through

.descontoTag
  display: flex
  align-items: center
  justify-content: center
  background-color: #1dc525
  padding: 4px 8px
  border-radius: 10px
  color: white
  font-size: 11px

.precoFinal
  font-size: 30px
  font-weight: 800

.pix
  font-size: 12px

.parcelamento
  font-size: 15px
  color: #8f8c8c

.buttonsContainer
  display: flex
  flex-direction: column
  gap: 8px

.btnCarrinho, .btnLoja
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 45px
  border-radius: 5px
  color: white
  font-size: 17px
  font-weight: 700
  gap: 8px
  cursor: pointer

.btnCarrinho
  background-color: #1dc525

.btnLoja
  background-color: #00A6EB

.descricaoContainer
  margin-top: 20px
  h2
    font-size: 18px
    color: #585858
    font-weight: 700
  p
    color: #8f8c8c
    margin: 8px 0

.detailsList
  display: flex
  flex-direction: column
  gap: 10px

.detailRow
  display: flex
  gap: 8px
  .label
    font-weight: bold
  .value
    font-weight: normal
    text-align: justify
